/* Générale */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

#page { 
  max-width:1920px;
  margin:0 auto;
  padding:0 0px;
}

.titre1 {
  text-align: center;
  padding: 80px;
}

.paragrapheStandard {
  text-align: justify;
  margin: 4vh auto;
  font-size: 20px;
  line-height: 30px;
  width: 85%;
}

@media screen and (max-width: 1920px) and (min-width: 900px) {
  .paragrapheStandard {
    text-align: justify;
    margin: 4vh auto;
    font-size: 30px;
    line-height: 35px;
    width: 75%;
  }
}

.paragrapheCenter {
  text-align: center;
  margin: 4vh auto;
  font-size: 20px;
  line-height: 30px;
  width: 85%;
}

@media screen and (max-width: 1920px) and (min-width: 900px) {
  .paragrapheCenter {
    text-align: center;
    margin: 4vh auto;
    font-size: 30px;
    line-height: 35px;
    width: 75%;
  }
}


/* Image Responsive */

.image-responsive {
  max-width: 100%;
  height: auto;
}

/* Map Responsive */

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  z-index: 1;
}
  
.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  z-index: 1;
}


/* Formulaire Google Responsive */

.form-responsive {
  overflow:hidden;
  padding-bottom: 1350px;
  position:relative;
  height:0;
  z-index: 1;
  }
  
.form-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  z-index: 1;
}

/* Header */

header {
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #000;
}

nav {
  position: fixed;
  width: 100%;
  height: 7%;
  z-index: 999;
  background: #000;
}

nav ul {
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.logo {
  float: left;
  margin: 5px 30px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.header__icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/logo.jpg');
}

/* Hamburger */

.hamburg {
  display: none;
  color: #fff;
  background: #000;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  padding: 15px;
}


.titreNavbar {
  float: left;
  margin: 20px;
  margin-left: 10%;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}


@media(max-width: 1400px) {

  .hamburg {
    display: block;
  }

  .logo {
    position: fixed;
    top: 0;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  .menu {
    max-height: 40em;
  }

  nav ul li {
    width: 100%;
    padding: 24px 0;
  }

  .titreNavbar {
    position: fixed;
    top: 0;
    margin: center;
    }
}

@media(max-width: 800px) {
  .titreNavbar {
    margin-left: 20%;
  }
}

@media(max-width: 400px) {
  .titreNavbar {
    margin-left: 25%;
  }
}


/* Footer */

footer {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  color: #fff;
  text-decoration: none;
  text-align: center;
}


footer a {
  text-decoration: none;
  color: #ff9f0e;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

footer a:hover {
  text-decoration: none;
  color: #ff6600;
}

/* Contact */

.telemail {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  padding: 2px;
}

.telemail a {
  text-decoration: none;
  color: #ff9f0e;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.telemail a:hover {
  text-decoration: none;
  color: #ff6600;
}

/* Container responsive*/ 


.grid-containerBackground {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.grid-itemBackground {
  background: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-containerTitre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.grid-itemTitre {
  background: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-containerForm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.grid-itemForm {
  background: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-containerMap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.grid-itemMap {
  background: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-containerFooter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 5px;
  text-align: center;

}

.grid-itemFooter {
  background: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

.grid-item1 {
  background: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
